.modal-body {
                background-repeat: no-repeat;
                background-size: cover;
                height: 400px;
                text-align:center;
                float:none;
        }